@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800&family=Nunito:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

.login {
  display: flex;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
  background-color:var(--backgroundClr-login) ;
}

.login__enterDetails {
  color: var(--fontClr-login);
  font-size: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__enterDetails h1 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  color: var(--fontClr-login);
}
.login__enterDetails input {
  outline: 0;
  border: 0;
  background-color:var( --inputClr--background); 
  border-radius: 10px;
  height: 40px;
  padding: 5px;
  color: var(--font-clr--posts);
  width: 300px;
  padding: 10px 10px;
  font-size: 16px;
  font-size: 500;
}
.login__enterDetails p {
  padding: 10px 10px;
}
.login__enterDetails button {
  background-color: var( --fontClr-login);
  border: 0;
  padding: 10px 10px;
  border-radius: 10px;
  color: var(--font-clr--posts);
  font-size: 20px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
}
.login__enterDetails button:hover {
  cursor: pointer;
  background-color:var(--font-clr--posts);
  color: var(--fontClr-login);
}
.login__enterDetails--signup {
  margin-top: 10px;
}
.signupLink{
  text-decoration: none;
  color: #ff6d00;
}