.editSectionPost {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.editSectionPost-details {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 10%;
  background-color: var(--background-clr-comm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--font-clr-common);
  padding: 10px 30px;
}

.editSectionPost-details input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--font-clr-common);
  background-color: var(--background-clr-comm);
  color: var(--font-clr--posts);
  font-size: 16px;
}
.editSectionPost-details button {
  background-color: var(--font-clr-common);
  color: var(--background-clr-comm);
}
.editSectionPost-details__img img {
  width: 300px;
  padding: 10px;
}
.editSectionPost-details textarea {
  resize: none;
  width: 300px;
  height: 100px;
  background-color: var(--background-color-common);
  color: var(--font-clr-common);
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.home__postsSection__posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  margin-top: 50px;
  background-color: var(--background-clr-comm);
  width: 700px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding: 20px 0px;
  padding-left: 50px;
}
.home__postsSection__posts img {
  height: 300px;
  width: 550px;
  border-radius: 10px;
  padding: 10px 10px;
}

.home__postsSection__posts-fName {
  font-size: 25px;
  font-weight: 400;
  color: var(--font-clr--posts);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home__postsSection__posts-fName img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
.home__postsSection__posts-fName span {
  font-size: 15px;
  font-weight: 300;
  display: block;
  color: var(--font-clr-common);
}
.home__postsSection__posts-Content {
  color: var(--font-clr--posts);
  padding: 10px 10px;
  font-weight: 350;
  cursor: pointer;
}
.home__postsSection__posts-button {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: var(--font-clr--posts);
}
.home__postsSection__posts-button svg {
  margin: 0px 13px;
}

@media (max-width: 840px) {
  .home__postsSection__posts {
    width: 450px;
  }
  .home__postsSection__posts img {
    width: 350px;
    height: 150px;
  }
  .home__postsSection__posts-fName img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
}
