@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800&family=Nunito:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.ProfileSec {
  display: flex;
  background-color: var(--background-color-common);
  min-height: 100vh;
}

.ProfileSec li {
  list-style: none;
}
.ProfileSec_about {
  flex: 1;
  text-align: center;
}
.ProfileSec_about_details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about_details {
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.ProfileSec_about img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}
.details_name {
  font-size: 25px;
  font-weight: 400;
  color: var(--font-clr-common);
  padding: 5px 5px;
}
.details_bio {
  font-size: 16px;
  font-weight: 400;
  color: var(--font-clr-common);
  padding: 5px 5px;
}
.details_portfolio span {
  font-size: 16px;
  text-decoration: none;
  color: var(--font-clr-common);
  padding: 0px 5px;
}
.details_portfolio a {
  font-size: 16px;
  text-decoration: none;
  color: var(--link-tag);
  font-weight: 300;
  padding: 0px 5px;
}
.details_otherData {
  font-size: 16px;
  color: var( --font-clr-common);
  padding: 5px 5px;
}
.ProfileSec_about_details--buttons {
  border: 0;
  flex: 0.5;
  align-self: center;
}
.ProfileSec_about_details--buttons button {
  font-size: 18px;
  color: var(--background-clr-comm);
  background-color: var( --font-clr-common);
  padding: 5px 5px;
  border: 0;
  margin-left: 2px;
  border-radius: 5px;
}
.ProfileSec__postsSection__posts-fName {
  font-size: 20px;
  font-weight: 400;
  color: var(--font-clr--posts);
  padding: 0px 10px;
}
.ProfileSec__postsSection__posts-fName span {
  font-size: 15px;
  font-weight: 300;
  color: var(--font-clr--posts);
}

.ProfileSec__postsSection__posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  background-color: var(--background-clr-comm);
  width: 700px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding: 20px 0px;
  padding-left: 50px;
}
.ProfileSec__postsSection__posts img {
  height: 300px;
  width: 550px;
  border-radius: 10px;
  padding: 10px 10px;
}
.ProfileSec__postsSection__posts-Content {
  color: var(--font-clr--posts);
  padding: 10px 10px;
  font-weight: 350;
}
.ProfileSec__postsSection__posts-button {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: white;
}
.ProfileSec__postsSection__posts-button svg {
  margin: 0px 13px;
}
.editSection {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(239, 234, 234, 0.4);
}
.editSection__details {
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: 10%;
  background-color: var(--background-color-common);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--font-clr-common);
  padding: 10px 10px;
}

.editSection__details-input {
  width: 0.1px;
  height: 0px;
}
.editSection__details-info p {
  font-size: 19px;
  margin-top: 5px;
}
.editSection__details-info input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--font-clr-common);
  background-color: var(--background-clr-comm);
  color: var(--font-primary);
  font-size: 16px;
  padding: 10px 10px;
}
button {
  background-color: var(--font-clr-common);
  color: var(--background-clr-comm);
  font-size: 16px;
  margin: 10px 10px;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}
