.RoutSectPages_mini {
  display: flex;
  width: fit-content;
  gap: 40px;
  padding: 10px 10px;
  margin: auto;
}
@media screen and (max-width: 500px) {
  .RoutSectPages_mini {
    width: fit-content;
    gap: 20px;
  }
}
