@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800&family=Nunito:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --font-clr-common: #edf1ff;
  --font-clr--posts:#ffff;
  --background-clr-comm:#16181c;
  --background-color-common: #000000;
  --background-clr-sign:#8b3f52;
  --font-clr-sign:#00AE95;
  --background--input-sign:#f5f1fa;
  --background--btn-sign:#b2fdf3;
  --font-btn-sign:#009681;
  --input--clr-sign:#BE9BF3;
  --link-tag:#fa005a;
  --backgroundClr-login:#000103;
  --fontClr-login:#00c7ff;
  --inputClr--background:#013741;
}

.home {
  display: flex;
  background-color: var(--background-color-common);
  min-height: 100vh;
  justify-content: space-between;
}
.leftPane
{
  flex: 0.3;
  height: 100vh;
  background-color: var(--background-clr-comm);
  position: sticky;
  top: 0;
  bottom: 0;
}
.rightPane
{
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
}
.home li {
  list-style: none;
}

.home_postsSection {
  flex: 1;
  text-align: center;
}
.home_postsSection-newPost {
  width: 700px;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--background-clr-comm);

}
.home_postsSection-newPost textarea {
  outline: 0;
  border: 0;
  color: var(--font-clr-common);
  background-color: var(--background-clr-comm);
  border: 0.1px solid var(--font-clr-common);
}
.home_postsSection-newPost label {
  color: var(--font-clr-common);
}
.home_postsSection-newPost button {
  color: var(--background-color-common);
  background-color: var(--font-clr-common);
}
.home_postsSection-filters button {
  background-color:var(--background-clr-comm);
  font-size: 22px;
  color: var(--font-clr-common);
  margin: 10px 25px;
  font-weight: 600;
  font-family: Noto Sans, sans-serif;
  padding: 10px 10px;
  border-radius: 8px;
}
.home__postsSection__posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  margin-top: 50px;
  background-color: var(--background-clr-comm);
  width: 700px;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding: 20px 0px;
  padding-left: 50px;

}
.home__postsSection__posts img {
  height: 300px;
  width: 550px;
  border-radius: 10px;
  padding: 10px 10px;
}

.home__postsSection__posts-fName {
  font-size: 25px;
  font-weight: 400;
  color: var(--font-clr--posts);
  font-family: "Noto Sans", sans-serif;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home__postsSection__posts-fName img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
.home__postsSection__posts-fName span {
  font-size: 15px;
  font-weight: 300;
  display: block;
  color: var(--font-clr-common);
}
.home__postsSection__posts-Content {
  color: var(--font-clr--posts);
  padding: 10px 10px;
  font-weight: 350;
}
.home__postsSection__posts-button {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: var(--font-clr--posts);
}
.home__postsSection__posts-button svg {
  margin: 0px 13px;
}

.editSectionPost {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.4); 
}
.editSectionPost-details {
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: 10%;
  background-color: var(--background-clr-comm);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--font-clr-common);
  padding: 10px 10px;
}

.editSectionPost-details input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--font-clr-common);
  background-color: var(--background-clr-comm);
  color: var(--font-clr--posts);
  font-size: 16px;
}
.editSectionPost-details button
{
  background-color: var(--font-clr-common);
  color: var(--background-clr-comm);
}