.bookmark {
  display: flex;
  background-color: var(--background-color-common);
  min-height: 100vh;
}
.bookMarkHeading {
  color: white;
  font-size: 35px;
  font-weight: 500;
  margin-top: 55px;
}
.bookmark li {
  list-style: none;
}

.bookmark_postsSection {
  flex: 1;
  text-align: center;
}
