.Suggest_followers {
  width: fit-content;
  /* background-color: #1e1f23; */
  border: 1px solid white;
  height: fit-content;
  background-color: #1e1f23;
  margin-top: 50px;
  margin-right: 25px;
  border-radius: 8px;
}
.Suggest_followers h1 {
  padding: 15px 15px;
  text-align: center;
  color: var(--font-secondary);
}
.Suggest_followers ul {
  color: var(--font-clr);
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.Suggest_followers ul span {
  font-size: 12px;
  color: var(--font-spanClr);
}
.Suggest_followers ul button {
  border: 0;
  margin-left: 10px;
  border-radius: 10px;
  height: fit-content;
  padding: 5px 15px;
  background-color: var(--yellow-clr);
  color: var(--font-clr);
  font-size: 15px;
  font-size: 500;
}
