:root
{
  --background-btn:#edf1ff;
  --clr-btn:#151619;
  --sec-clr:#fffbed
}
.Suggest_followers {
  width: fit-content;
  /* background-color: #1e1f23; */
  border: 1px solid white;
  height: fit-content;
  background-color: #1e1f23;
  margin-top: 50px;
  margin-right: 25px;
  border-radius: 8px;
}
.Suggest_followers h1 {
  font-size: 25px;
  font-weight: 400;
  padding: 15px 15px;
  text-align: center;
  color: var(--sec-clr);
}
.Suggest_followers ul {
  color: var(--background-btn);
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.Suggest_followers ul span {
  font-size: 12px;
  color: #ffffff;
}
.Suggest_followers ul button {
  border: 0;
  margin-left: 10px;
  border-radius: 10px;
  height: fit-content;
  padding: 5px 15px;
  background-color: var(--background-btn);
  color: var(--clr-btn);
  font-size: 15px;
  font-size: 500;
}
